@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic);
html{
    position: relative;
    min-height: 100%;
}
body{
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
/*    font-family:'Lato', sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin-bottom: 60px;
}
.row {
    max-width: 95rem;
}


.top-bar-section ul li {
    background: transparent;
}
.top-bar{
    min-height: 72px;
    background: transparent;
}
.top-bar-section ul li > a {
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 8px 15px 10px;
    display: inline-block;
    font-weight: 700;
    font-family: "Lato",helvetica,arial;
}
@media only screen and (min-width: 40.0625em) {
    .top-bar-section li.active:not(.has-form) a:not(.button) {
        background: transparent;
        /*color: #0973ba;*/
        color: #FFFFFF;
/*        text-decoration: underline;*/
font-size: 17px;

    }
    #our_serivces_home{
        padding-left: 125px;
    }
    .top-bar-section li:not(.has-form) a:not(.button) {
        background: transparent;
/*        font-size: 20px;*/
font-size: 17px;
padding-right: 15px;
/*
    padding: 8px 15px 10px;
    display: inline-block;
*/
    font-weight: 700;
    font-family: "Lato",helvetica,arial;

    }
    #slider{
    height:550px
}
    .top-bar-section li.active:not(.has-form) a:hover:not(.button) {
        background: transparent;
        color: #666;
    }
    .top-bar-section li:not(.has-form) a:hover:not(.button) {
        background-color: transparent;
        background: transparent;
        color: #0973ba;
    }
    .top-bar {
        /*background: rgba(249,249,249,0.95);*/
        /*margin-top: 0px;*/
        /*min-height: 90px;*/
        /*width: 102%;*/
        /*margin-left: -15px;*/
        /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
        position: absolute;
        z-index: 10;
        width: 100%;
        background: url(../img/topnav_bg.png?1455237018) 0 -70px repeat-x;
        height: 100px;
        margin-left: -15px;
    }
    .fixed{
        width: 101%;
        margin-left: 15px;
    }
    .top-bar-section ul li > a{
        color: #FFFFFF;
font-size: 1.1em;
padding: 8px 15px 10px;
display: inline-block;
font-weight: 700;
font-family: "Lato",helvetica,arial;
    }
}
.top-bar-section ul li.active > a {
    background: transparent;
    color: #0973ba;
}
.top-bar-section ul {
    padding-top: 25px;
    padding-right: 77px;
}
.mjs-widget-content {
    height: 47px;
    width: 270px;
    background: url('../img/img1.jpg') no-repeat center center;
}
.circle{
    width: 130px;
    height: 130px;
    border: 1px solid #0973ba;
    border-radius: 50%;
    padding-left: 42px;
    padding-top: 37px;
    color: white;
    background-color: #0973ba;

}
#includes{

}
footer{
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    height: 60px;
    background-color: #333;
    color: #ccc;
    padding-top: 25px;
}
.address{
  color: #FFF;
}
.address::before{
  position: absolute;
top: 0;
left: 0;
font-family: "FontAwesome";
content: "\f015";
font-size: 30px;
height: 80px;
width: 80px;
line-height: 83px;
border: 2px solid #FFF;
border-radius: 83px;
color: #FFF;
text-align: center;
}
.phone{
  color: #FFF;
}

.phone::before{
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FontAwesome";
  content: "\f095";
  font-size: 30px;
  height: 80px;
  width: 80px;
  line-height: 83px;
  border: 2px solid #FFF;
  border-radius: 83px;
  color: #FFF;
  text-align: center;
}
.email{
  color: #FFF;
}
.email::before{
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FontAwesome";
  content: "\f0e0";
  font-size: 30px;
  height: 80px;
  width: 80px;
  line-height: 83px;
  border: 2px solid #FFF;
  border-radius: 83px;
  color: #FFF;
  text-align: center;
}
input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    box-shadow: none;


}
.home_page_offer_2{
 width: 268px;height: 350px;top: 1251px;left: 19px;z-index: 20028;border-width: 0px 1px;border-style: solid;border-color: rgb(237, 237, 237);
}
.home_page_offer_1{
    width: 268px;height: 350px;top: 1251px;left: 19px;z-index: 20028;border-width: 0px 1px;border-style: solid;border-color: rgb(237, 237, 237);
}
.home_page_offer_2 img,.home_page_offer_1 img{
    height: 200px;
}
#zanzibar_packages_p{
    font-family: 'Cuprum';font-size: 20px;color: #5785a9;
}
#south_africa_packages_p{
     font-family: 'Cuprum';font-size: 19px;color: #5785a9;
}
@media only screen and (max-width:572px){
/*
  .home_page_offer_2 img,home_page_offer_1 img{
    height: 150px;
}
*/
    #slider{
    height:350px
}
    #our_serivces_home{
        padding-left: 0px;
    }
    #zanzibar_packages_p{
        font-size: 11px;

}
    #south_africa_packages_p{
        font-size: 9px;
    }
    .home_page_offer_1,.home_page_offer_2 {
    width: 115px;
    height: 350px;
    top: 1251px;
    left: 19px;
    z-index: 20028;
    border-width: 0px 1px;
    border-style: solid;
    border-color: rgb(237, 237, 237);
}
}
.img{
    height: 60px;
padding-left: 17px;
margin-top: 7px;
}
.top-bar .toggle-topbar.menu-icon {
    margin-top: 0px;
    top: 50%;
}
#masai_mara_p{
    font-family: 'Cuprum';
    font-size: 19px;
    color: #5785a9;
}
